<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Web, Mobile and Database developer. Strong abilities in .NET, Java, JavaScript, Ruby and ABAP languages. Also very good skills on UI/UX design.</p>
    <p>Specialties: Web applications development, programming, project management, business requirements analysis.</p>
</div><!--//summary-->
</section><!--//section-->
