 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">BSc in Computer Science</h4>
    <h5 class="meta">Universidade Anhembi Morumbi</h5>
    <div class="time">2013 - 2016</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Precision Mechanics Technician</h4>
    <h5 class="meta">Escola Senai Suíço-Brasileira</h5>
    <div class="time">1983 - 1986</div>
</div><!--//item-->
</div><!--//education-container-->
