<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">2010 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Blend IT Consultoria, São Paulo</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Allocated in a multinational agribusiness company;</p>
                      <p>Responsible for the architecture, development e maintenance of a Web application in C# and Oracle database exchanging data with SAP ERP;</p>
                      <p>PL/SQL Programming (Stored Procedures, Functions);</p>
                      <p>Application version control management with Git;</p>
                      <p>SAP ABAP programming;</p>
                      <p>SAP ABAP local resource in a globalization SAP project and .Net development leader.</p>
                      <p>SPAs development with Ember, React, Webpack and Web API.</p>
                      <p>Technical leader in an expansion project of a Web App.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">.NET & SAP ABAP Developer.</h3>
                            <div class="time">2009 - 2010</div>
                        </div><!--//upper-row-->
                        <div class="company">Assurance IT, São Paulo</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Development and maintenance of web apps in C# and Oracle database exchanging data with SAP ERP;</p>
                        <p>PL/SQL Programming (Stored Procedures, Functions);</p>
                        <p>SAP ABAP programming.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Systems Analyst</h3>
                            <div class="time">2006 - 2009</div>
                        </div><!--//upper-row-->
                        <div class="company">GPTI Consulting, São Paulo</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Analysis and development of intra and extranet systems in Classic ASP, ASP.NET (C#), Oracle 9i and AJAX;</p>
                      <p>Business requirements analysis and implementation viability study;</p>
                      <p>Web apps modeling and development;</p>
                      <p>Responsible for the migration of a customer request web app from Classic ASP to ASP.NET project;</p>
                      <p>PL/SQL programming (Stored Procedures, Functions).</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Systems Analyst</h3>
                            <div class="time">2004 - 2006</div>
                        </div><!--//upper-row-->
                        <div class="company">AxisMed Gestão Preventiva da Saúde S.A., São Paulo</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Analysis and development of a chronic deseases patients care intranet system, in Classic ASP and SQL Server database;</p>
                      <p>Version control management with Subversion.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Systems Analyst</h3>
                            <div class="time">2003 - 2004</div>
                        </div><!--//upper-row-->
                        <div class="company">Delta Tech Tecnologia Ltda., São Paulo</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Analysis, project and development of Web applications in ASP.NET (C#), Java, SQL Server and MySQL;</p>
                      <p>CVS control managment.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Analyst/Programmer</h3>
                            <div class="time">2000 - 2002</div>
                        </div><!--//upper-row-->
                        <div class="company">Health Informatic & Techonology Solutions, São Paulo</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Development and maintenance of a health oriented portal in Classic ASP and Oracle 8i.</p>
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->
