<div class="interests-container container-block">
<h2 class="container-block-title">Interests</h2>
<ul class="list-unstyled interests-list">
<li>Music</li>
<li>Science Fiction</li>
<li>Movies</li>
<li>Applied Mathematics</li>
<li>Physics</li>
<li>Astrophysics</li>
<li>Cosmology</li>
<li>Animals</li>
<li>Cooking</li>
</ul>
</div><!--//interests-->




<div class="remove-container container-block">
<h2 class="container-block-title">About Theme</h2>
<ul class="list-unstyled interests-list">
<a href="http://blog.webjeda.com/jekyll-themes/online-cv/"><li>How to use?</li></a>
</ul>
</div><!--//interests-->
